html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-family: "Exo 2";
    
}

*{
    font-family: "Exo 2";
    font-weight: 600;
}

body {
    margin-bottom: 60px;
    background-color: #12161d;
    color: white;
    
}


.e-bigger {

    font-size: x-large;
}


/*Logo*/
.logo-wrapper {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-logo {
    padding: 10px 10px;
    width: 64px;
    height: 64px;
}

.applicationlogo img {
    padding: 10px 10px;
    margin-top: 80px;
    max-width: 240px;
    max-height: 240px;
}


nav.navbar {
    background-color: rgba(18,22,29);
    margin-left: 290px;
}

nav.navbar i{
        font-size: 1.3rem;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
}

nav.navbar i:hover, nav.navbar img:hover {
    cursor: pointer;
    transform: scale(1.05) translateZ(0px);
    background-color: #48545f14;
}

img.p-pic {
    width: 45px; 
    height: 45px;
    border-radius: 50%;
}


.profile-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(72, 84, 95, 0.12);
    padding: 16px 20px;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 30px;
}

    .profile-wrapper .titles {
        line-height: 1;
    }








/*Menu*/
#menu {
    width: 100% !important;
    background-color: inherit;
    overflow: hidden;
}

    #menu .e-menu-item:not(.e-separator) {
        height: 50px;
        border-radius: 4px;
    }

    #menu .e-menu-item {
        box-sizing: border-box;
    }

        #menu .e-menu-item a {
            width: 100%;
            color: rgb(171, 163, 152);
            font-weight: 300;
            padding: 7px 5px;
            box-sizing: border-box;
        }

    #menu .e-anchor-wrap {
        display: inline-block;
    }

    #menu .e-menu-item .e-anchor-wrap span.e-menu-icon {
        color: rgb(171, 163, 152);
    }

    #menu .e-menu-item.e-separator {
        border: none;
        margin: 5px 5px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        color: #65da41;
    }

        #menu .e-menu-item.e-separator:not(:first-child) {
            margin-top: 35px;
        }







/*SideBar*/
#sidebar {
    background-color: #12161d;
    border-right: 1px dashed rgba(75,82,85,0.24);
    padding: 10px 20px;
    overflow: hidden;
}

    #sidebar .e-menu-wrapper {
        width: 100%;
        background-color: inherit;
    }

#sidebar-toggler {
    padding: 10px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}

    #sidebar-toggler:hover {
        cursor: pointer;
        background-color: #48545f14;
        transform: scale(1.05) translateZ(0px);
    }

#sidebar.e-close {
    padding-left: 10px;
    padding-right: 10px;
}

    #sidebar.e-close .app-logo {
        display: none;
    }

    #sidebar.e-close .e-anchor-wrap, #sidebar.e-close .e-menu-item.e-menu-caret-icon {
        font-size: 0px;
    }

    #sidebar.e-close .profile-wrapper .titles {
        display: none !important;
    }


    #sidebar.e-open .e-anchor-wrap,
    #sidebar.e-close .e-menu-icon, #sidebar.e-open .e-menu-icon {
        visibility: visible;
    }

#sidebar.e-open .profile-wrapper .titles, #sidebar.e-open .app-logo {
    display: flex;
}

#sidebar.e-sidebar.e-right.e-close {
    visibility: visible;
    transform: translateX(0%);
}

#sidebar.e-open #sidebar-toggler:before {
    content: '\f100'
}

#sidebar.e-close #sidebar-toggler:before {
    content: '\f101'
}




.main-content {
    margin-left: 290px;
    overflow-y: auto;
    height: 92vh;
    
}


/*BreadCrumb*/
.e-breadcrumb a, .e-breadcrumb a:hover {
    text-decoration: none !important;
    color: inherit !important;
}



/*Button*/
.btn:focus, .btn:active{
    outline: none !important;
    box-shadow: none;
}


/*hyperlink*/
.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: inherit;
}


/*Grid*/




.e-grid {
    user-select: text;
    caret-color: transparent;
    border: 0;
    border-radius: 5px;
}


    .e-grid .e-gridcontent, .e-grid .e-table {
        background-color: #1a222b;

    }

    .e-grid .e-gridheader {

        border: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px;
        background-color: #222b33;
    }

        .e-grid .e-gridheader .e-headercell {
            background-color: #222b33;

        }

    .e-grid .e-gridpager {
        background-color: #1a222b;

    }

    .e-grid .e-pagercontainer {
        border: none;
        background-color: #1a222b;

    }

    .e-grid .e-content table {

        padding: 0px 10px;

    }

.e-pagercontainer .e-icons {
    background-color: #1a222b;
    border: none !important;
}

.e-pager .e-numericitem {
    color: #adb5bd;
    background-color: #1a222b;
    padding: 15px !important;
}

    .e-pager .e-numericitem:not(.e-currentitem) {
        border: none !important;
    }

    .e-pager .e-numericitem:hover {
        color: #fff;

    }

    .e-pager .e-numericitem.e-currentitem {
        color: #fff;
        border: none !important;
        background-color: #31373d;

    }

.e-pager div.e-icons:not(.e-disable) {
    color: #fff;
    cursor: pointer;
    font-weight: bold;

}

.e-grid .e-pager {
    padding: 10px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.e-grid .e-rowcell {
    font-size: 16px;
}

.e-headertext {
    font-size: 20px;
}

.e-grid .e-headercell {
    height: 25px;
}

   
.e-grid .e-headercelldiv {
    height: 25px;
}

    /*Custom Radio Button Group*/
    .e-btn-group.custom-rbt-group {
        width: 100%;
    }

.custom-rbt-group label.e-btn {
    width: 50%;
    padding: 15px 20px;
    
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    color: #fff;
   
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background: linear-gradient(145deg, #00c6ff, #0072ff);
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.custom-rbt-group label.e-btn:hover {
    background: linear-gradient(145deg, #6a11cb, #2575fc);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.custom-rbt-group label.e-btn:active {
    transform: translateY(1px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}



/*Custom Button*/

.e-btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #0072ff; 
    color: #fff;
    background: linear-gradient(145deg, #00c6ff, #0072ff);
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    cursor: pointer;
    border-radius: 12px;
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

 
    .e-btn:hover {
        background: linear-gradient(145deg, #6a11cb, #2575fc);
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
      
    }


 




 

/*Widget*/

.widget {
    background: #1a222b;
    border-radius: 1rem;
    border: 1px solid #333f4c; /* Subtle dark border for depth */
    user-select: none;
}

    .widget.summary > div:first-child {
        background-color: #222b33;
        padding: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

        .widget.summary > div:first-child i {
            font-weight: bold;
        }

    .widget.income > div:first-child {
        color: #65da41;
    }

    .widget.expense > div:first-child {
        color: #ff4e48;
    }

    .widget.balance > div:first-child {
        color: #2aa1ff;
    }

    .widget.chart {
        padding: 5px;
    }



    /* Motivational Quotes Widget */
    .widget.motivational-quote {
        background-color: #1a222b; /* Darker background to match the theme */
        border-radius: 8px; /* Rounded corners */
       
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Deeper shadow for a more elevated look */
        padding: 20px; /* Padding inside the widget */
        
    }


        .widget.motivational-quote blockquote {
            border-left: 5px solid #ff4081; /* Bold pink left border for the blockquote */
            padding-left: 20px; /* Space between border and text */
            
            font-style: italic; /* Italicize the quote text */
            color: #e0e0e0; /* Light text color for better readability on dark background */
            position: relative; /* Ensure proper positioning for the footer */
            padding-bottom: 40px; /* Add extra space at the bottom */
        }

            /* Footer of Blockquote */
            .widget.motivational-quote blockquote footer {
                text-align: right; /* Align the author to the right */
                font-size: 0.9rem; /* Slightly smaller font size for the author */
                color: #9e9e9e; /* Lighter color for the author */
                position: absolute; /* Position the footer at the bottom of the blockquote */
                bottom: 10px; /* Space from the bottom */
                right: 20px; /* Space from the right edge */
                left: 20px; /* Space from the left edge */
                background: #1a222b; /* Match background to ensure visibility */
                padding: 5px 10px; /* Padding around the footer text */
            }










